In [28]:
import sqlite3
import uuid
conn = sqlite3.connect(':memory:')
c = conn.cursor()

Now, we create a table in this database

In [29]:
c.execute("""CREATE TABLE employees (
                employee_id TEXT PRIMARY KEY,
                first_name TEXT,
                last_name TEXT,
                pay INTEGER)""")

In [31]:
class Employee:
    def __init__(self, first_name, last_name, pay, employee_id = None):
        self.first_name = first_name
        self.last_name = last_name
        self.pay = pay
        if employee_id is None:
            self.employee_id = str(uuid.uuid4())

emp_1 = Employee("John", "Doe", 100)
emp_2 = Employee("Jane", "Doe", 200)

In [32]:
emp_1.__dict__

dict

In [33]:
c.execute("INSERT INTO employees VALUES (?, ?, ?, ?)", (emp_1.employee_id, emp_1.first_name, emp_1.last_name, emp_1.pay))
conn.commit()
c.execute("INSERT INTO employees VALUES (:employee_id, :first_name, :last_name, :pay)", emp_2.__dict__)
conn.commit()

In [36]:
fname = input("Enter file name: ")
c.execute("SELECT * FROM employees WHERE last_name = ?", (fname,))
print(c.fetchall())

[('133368a2-ee3d-4f9e-9fa4-e59533a4965c', 'John', 'Doe', 100), ('6cddd338-b220-4515-a41d-727c0465552c', 'Jane', 'Doe', 200)]