In [1]:
import sqlite3
import uuid
conn = sqlite3.connect(':memory:')
c = conn.cursor()

Now, we create a table in this database

In [2]:
c.execute("""CREATE TABLE employees (
                employee_id TEXT PRIMARY KEY,
                first_name TEXT,
                last_name TEXT,
                pay INTEGER)""")

In [22]:
class Employee:
    def __init__(self, first_name, last_name, pay, employee_id = None):
        self.first_name = first_name
        self.last_name = last_name
        self.pay = pay
        if employee_id is None:
            self.employee_id = str(uuid.uuid4())
        else:
            self.employee_id = employee_id

emp_1 = Employee("John", "Doe", 100)
emp_2 = Employee("Jane", "Doe", 200)

In [4]:
emp_1.__dict__

{'first_name': 'John',
 'last_name': 'Doe',
 'pay': 100,
 'employee_id': '86527218-b4d2-4878-8b31-c90bb49e2fe2'}

In [5]:
c.execute("INSERT INTO employees VALUES (?, ?, ?, ?)", (emp_1.employee_id, emp_1.first_name, emp_1.last_name, emp_1.pay))
conn.commit()
c.execute("INSERT INTO employees VALUES (:employee_id, :first_name, :last_name, :pay)", emp_2.__dict__)
conn.commit()

In [11]:
emply_id = str('86527218-b4d2-4878-8b31-c90bb49e2fe2')
c.execute("SELECT * FROM employees WHERE employee_id = ?", (emply_id,))
jj = c.fetchone()

In [24]:
jk = Employee(jj[1], jj[2], jj[3], jj[0])
print(jk.__dict__)

{'first_name': 'John', 'last_name': 'Doe', 'pay': 100, 'employee_id': '86527218-b4d2-4878-8b31-c90bb49e2fe2'}